<%- include('components/head') %>
    <%- include('components/barnav') %>
    <h1>Movies</h1>
    <% if (user) { %>
        <div id="search" class="form">
            <select id="sele">
                <option value="title" selected>Title</option>
                <option value="year">Year</option>
                <option value="directors">Directors</option>
            </select>
            <input id="inpt" type="text" value=""/>
            <input id="butinpt" type="button" value="Search">
        </div>
    <% } %>
    <% if (moviesArr.length > 0) { %>
        <table class="basetable">
            <thead>
                <tr>
                    <th>Title<% if (user) { %><span class="ord" data-title="title"><% if (direc > 0 && targ == 1) { %>🔼<% } else { %>🔽<% } %></span><% } %></th>
                    <th>Year<% if (user) { %><span class="ord" data-title="year"><% if (direc > 0 && targ == 2) { %>🔼<% } else { %>🔽<% } %></span><% } %></th>
                    <th>Directors<% if (user) { %><span class="ord" data-title="directors"><% if (direc > 0 && targ == 3) { %>🔼<% } else { %>🔽<% } %></span><% } %></th>
                    <th>Wins<% if (user) { %><span class="ord" data-title="awards.wins"><% if (direc > 0 && targ == 4) { %>🔼<% } else { %>🔽<% } %></span><% } %></th>
                    <th>Nominations<% if (user) { %><span class="ord" data-title="awards.nominations"><% if (direc > 0 && targ == 5) { %>🔼<% } else { %>🔽<% } %></span><% } %></th>
                    <th>Plot</th>
                    <th>Poster</th>
                </tr>
            </thead>
            <tbody>
                <% moviesArr.forEach(function(movie){ %>
                    <tr><td><%= movie.title %></td><td><%= movie.year %></td><td><%= movie.directors %></td><td class="centr"><%= movie.awards.wins %></td><td class="centr"><%= movie.awards.nominations %></td><td><%= movie.plot %></td><td><img src="<%= movie.poster %>" alt="POSTER" ></td></tr>
                <% }); %>
            </tbody>
        </table>
        <ul id="page">
            <% if (movies > 10) { %>
                <% let allpage = Math.floor(movies/10);
                    let x = 2;
                    let y = 9
                    if(current > 8){  x = current - 5 }
                    if(current + 5 > allpage){  y = allpage - current + 5 }
                 %>
                <li><a href="/movies/1"> 1 </a></li>
                    <% if (current > 9) { %>
                        <b> ... </b>
                    <% } %>
                    <% for (let i = x; i < x + y ; i++){ %>
                        <% if( i == current){ %>
                            <li style="background-color: blue;"><a style="color:white" href="/movies/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <li><a href="/movies/<%= i %>"> <%= i %> </a></li>
                    <% } %>
                    <% if (current <= allpage - 5) { %>
                        <b> ... </b>
                    <% } %>
                <li><a href="/movies/<%= allpage %>"> <%= allpage %> </a></li>
            <% } %>
        </ul>
    <% } else {%>
        <h2>No Hay registros que mostrar</h2>
    <% } %>
<%- include('components/footer') %>