<%- include('components/head') %>
    <%- include('components/barnav') %>
        <h1>Sign up</h1>
            <%- include('components/message') %>
           <script>
                document.getElementById("messBox").classList.add(document.getElementById("spanbox").textContent);
            </script>
        <div id="formtecl">
            <div id="inptconten">
                <p>Enter your name</p>
                <div id="inptname"></div>
                <p>Enter your email</p>
                <div id="inptemail"></div>
                <p>Enter a password</p>
                <div id="inptpassw1"></div>
                <p>Repet the password</p>
                <div id="inptpassw2"></div>
                <span class="hidden" id="<%= code %>">
                <button id="submitButton">Send</button>
            </div>
            <div id="contecl">
                <div id="tecl"></div>
            </div>
        </div>
<%- include('components/footer') %>